{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'Logo/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'Logo/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'Logo/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'Logo/site.webmanifest' %}">
    <link rel="stylesheet"  type="text/css" href="{% static 'CSS/css_ISE.css' %}">
	<title>Error 500</title>
</head>
<body>
	<div id="container">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 10H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-2"></path><path d="M6 14H4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2"></path><path d="M6 6h.01"></path><path d="M6 18h.01"></path><path d="m13 6-4 6h6l-4 6"></path></svg>
		<div id="textcont">
			<h1>Ouch...</h1>
			<p>Error interno del servidor. Estamos trabajando en solucionarlo. Por favor, intente de nuevo más tarde o contáctenos si el problema persiste. </p>
			 <a href="/">Volver al inicio</a>
		</div>
	</div>
</body>
</html>