{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Logo/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'Logo/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'Logo/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'Logo/site.webmanifest' %}">
    <link rel="stylesheet"  type="text/css" href="{% static 'CSS/css_index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Creciendo Juntos</title>
</head>
<body>
  <header>
    <nav>
      <a href="#Nosotros">¿Quienes somos?</a>
      
      <a href="#Instalaciones">Instalaciones</a>

    </nav>
    <a id="Logo"title="Guarderia ABC" href="/">
      <img src="{% static 'media/logo_name.png' %}" id="imlogo">
    </a>
    <nav>
      <a href="Home">Eventos</a>
      <a href="#Servicios">Servicios</a>
      <a id="iniciar_sesion" href="LogIn">Iniciar Sesion</a>
    </nav>
  </header>
  <main>
    <div id="blank_space">
      We love TS 
    </div>
    <div id="News">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="Alert/WIP">
            <picture>
              <source media="(min-width: 1300px)" srcset="{% static 'Media/nwsls1.jpg' %}">
              <source media="(min-width: 750px)" srcset="{% static 'Media/nws1.jpg' %}">
              <img src="{% static 'Media/nwss1.jpg' %}" class="d-block w-100" alt="IfItDoesntMatchAnyMedia">
            </picture>
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="Alert/WIP">
            <picture>
              <source media="(min-width: 1300px)" srcset="{% static 'Media/nwsls2.jpg' %}">
              <source media="(min-width: 750px)" srcset="{% static 'Media/nws2.jpg' %}">
              <img src="{% static 'Media/nwss2.jpg' %}" class="d-block w-100" alt="IfItDoesntMatchAnyMedia">
            </picture>
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="Alert/WIP">
              <picture>
                <source media="(min-width: 1300px)" srcset="{% static 'Media/nwsls3.jpg' %}">
                <source media="(min-width: 750px)" srcset="{% static 'Media/nws3.jpg' %}">
                <img src="{% static 'Media/nwss3.jpg' %}" class="d-block w-100" alt="IfItDoesntMatchAnyMedia">
              </picture>
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="Alert/WIP">
              <picture>
                <source media="(min-width: 1300px)" srcset="{% static 'Media/nwsls4.jpg' %}">
                <source media="(min-width: 750px)" srcset="{% static 'Media/nws4.jpg' %}">
                <img src="{% static 'Media/nwss4.jpg' %}" class="d-block w-100" alt="IfItDoesntMatchAnyMedia">
              </picture>
            <div class="carousel-caption d-none d-md-block">
              <h5>Fourth slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div id="Nosotros">
        
       <h2>Cada niñx es una joya única y preciosa, llena de potencial y de posibilidades infinitas.</h2>
      <p>
        Somos una institución dedicada al cuidado y educación de los niños y niñas más pequeños, ofreciendo un ambiente seguro, acogedor y lleno de actividades que promueven su desarrollo integral.

        Nuestro equipo está compuesto por profesionales altamente capacitados en el cuidado infantil, pedagogía y psicología infantil, quienes trabajan día a día para brindar a los pequeños la mejor atención y formación. Nos aseguramos de ofrecer un ambiente seguro y de apoyo para los niños y sus familias, creando una comunidad de padres, maestros y personal de apoyo.
      </p>
      <div id="our_team">
        <a href="Alert/WIP">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-baby"><path d="M9 12h.01"></path><path d="M15 12h.01"></path><path d="M10 16c.5.3 1.2.5 2 .5s1.5-.2 2-.5"></path><path d="M19 6.3a9 9 0 0 1 1.8 3.9 2 2 0 0 1 0 3.6 9 9 0 0 1-17.6 0 2 2 0 0 1 0-3.6A9 9 0 0 1 12 3c2 0 3.5 1.1 3.5 2.5s-.9 2.5-2 2.5c-.8 0-1.5-.4-1.5-1"></path></svg>
          Cuidadxres
        </a>
        <a href="Alert/WIP">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cross"><path d="M11 2a2 2 0 0 0-2 2v5H4a2 2 0 0 0-2 2v2c0 1.1.9 2 2 2h5v5c0 1.1.9 2 2 2h2a2 2 0 0 0 2-2v-5h5a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2h-5V4a2 2 0 0 0-2-2h-2z"></path></svg>
          Medicxs
        </a>
        <a href="Alert/WIP">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-salad"><path d="M7 21h10"></path><path d="M12 21a9 9 0 0 0 9-9H3a9 9 0 0 0 9 9Z"></path><path d="M11.38 12a2.4 2.4 0 0 1-.4-4.77 2.4 2.4 0 0 1 3.2-2.77 2.4 2.4 0 0 1 3.47-.63 2.4 2.4 0 0 1 3.37 3.37 2.4 2.4 0 0 1-1.1 3.7 2.51 2.51 0 0 1 .03 1.1"></path><path d="m13 12 4-4"></path><path d="M10.9 7.25A3.99 3.99 0 0 0 4 10c0 .73.2 1.41.54 2"></path></svg>
          Nutricionistas
        </a>
        <a href="Alert/WIP">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
          Pedagogxs
        </a>
      </div>
      <p>        
        Nos enfocamos en el desarrollo emocional, cognitivo, físico y social de los niños y niñas, brindándoles herramientas y experiencias que les permitan crecer de manera saludable y equilibrada. Además, ofrecemos un amplio rango de actividades y juegos que fomentan la creatividad, el aprendizaje y la exploración.
      </p>
      <p>
        Nos esforzamos por crear un ambiente acogedor y amistoso, donde los niños y sus familias se sientan bienvenidos y cómodos. Creemos que la colaboración y comunicación son fundamentales en la relación entre padres y maestros, por lo que fomentamos una comunicación abierta y transparente en todo momento.
      </p>
    </div>

    <div id="Servicios" >
      <p id="serv_desc">
        Ofrecemos una amplia variedad de servicios para satisfacer las necesidades de los niños y sus familias. Nos enfocamos en brindar una experiencia completa, no solo en cuanto al cuidado de los pequeños, sino también en cuanto a su desarrollo integral.

        Entre los servicios que ofrecemos se encuentran:
      </p>
      <div id="Services">
        <div class="bubble_info">
          <a href="Alert/WIP">
            <img src="{% static 'Media/serv_1.jpg' %}" alt="">
            <h3>Cuidado infantil</h3>
          </a>
          <p>contamos con un equipo altamente capacitado en el cuidado infantil, que se asegura de brindar un ambiente seguro, acogedor y lleno de amor para los niños y niñas.</p>
        </div>
        <div class="bubble_info">
          <a href="Alert/WIP">
            <img src="{% static 'Media/serv_2.jpg' %}" alt="">
            <h3>Educación infantil</h3>
          </a>
          <p>ofrecemos programas educativos diseñados para promover el desarrollo cognitivo, emocional, físico y social de los niños y niñas. Utilizamos metodologías innovadoras y creativas para fomentar la curiosidad y el aprendizaje.</p>
        </div>
        <div class="bubble_info">
          <a href="Alert/WIP">
            <img src="{% static 'Media/serv_3.jpg' %}" alt="">
            <h3>Alimentación</h3>
          </a>
          <p>nos aseguramos de ofrecer una dieta balanceada y nutritiva para los pequeños, adaptada a sus necesidades y preferencias.</p>
        </div>        
        <div class="bubble_info">
          <a href="Alert/WIP">
            <img src="{% static 'Media/serv_4.jpg' %}" alt="">
            <h3>Actividades extra-curriculares</h3>
          </a>
          <p>entendemos que cada niño es único y tiene necesidades individuales, por lo que nos aseguramos de ofrecer una atención personalizada y adaptada a las necesidades de cada pequeño.</p>
        </div>
        <div class="bubble_info">
          <a href="Alert/WIP">
            <img src="{% static 'Media/serv_5.jpg' %}" alt="">
            <h3>Atención personalizada</h3>
          </a>
          <p>ofrecemos una amplia variedad de actividades y talleres para complementar la educación y el desarrollo de los niños y niñas, tales como música, arte, deportes y más.</p>
        </div>
        <div class="bubble_info">
          <a href="Alert/WIP">
            <img src="{% static 'Media/serv_6.jpg' %}" alt="">
            <h3>Comunicación y seguimiento</h3>
          </a>
          <p>fomentamos una comunicación abierta y transparente con los padres, manteniéndolos informados sobre el progreso y desarrollo de sus hijos e hijas.</p>
        </div>
      </div>
    </div>
    <div id="Instalaciones">
      <p id="inst_desc">
        Contamos con instalaciones diseñadas para ofrecer un ambiente seguro, acogedor y estimulante para los niños y niñas. Nos aseguramos de ofrecer un espacio adaptado a sus necesidades, donde puedan explorar, aprender y jugar de manera segura y divertida.

      </p>
      <!--
        Aulas amplias y luminosas: nuestras aulas están diseñadas para brindar un ambiente confortable y luminoso, que fomente el aprendizaje y la creatividad de los pequeños.

        Áreas de juego: contamos con áreas de juego interiores y exteriores, que ofrecen un espacio seguro y divertido para que los niños y niñas exploren y desarrollen sus habilidades físicas.

        Espacios de aprendizaje: contamos con espacios especialmente diseñados para el aprendizaje, donde los niños y niñas pueden experimentar y descubrir de manera divertida y educativa.

        Comedor: nuestro comedor está diseñado para ofrecer una experiencia agradable y nutritiva durante la hora de la comida, con una dieta balanceada y adaptada a las necesidades de los pequeños.

        Baños: contamos con baños adaptados a las necesidades de los niños y niñas, con medidas de higiene y seguridad adecuadas para su cuidado.

        Seguridad: nos aseguramos de que nuestras instalaciones sean seguras y estén equipadas con medidas de seguridad adecuadas para proteger a los niños y niñas en todo momento.
      -->
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>